# General artifacts
logs/
out-test/
OpenIM_v3_*.db
open-im-sdk-core.*
*.db
*.bak
*.gho
*.ori
*.orig
*.tmp
openIM.wasm

.cache

# Tooling directories
.devcontainer/
components/

# Deployment outputs
deploy/open_im_api/
deploy/open_im_msg_gateway/
deploy/open_im_msg_transfer/
deploy/open_im_push/
deploy/open_im_rpc_user/
deploy/open_im_rpc_friend/
deploy/open_im_rpc_group/
deploy/open_im_rpc_msg/
deploy/open_im_rpc_auth/
deploy/Open-IM-SDK-Core/

# Go build and binaries
vendor/
bin/
tmp/
.gocache/
*.test
*.out
*.exe
*.exe~
*.dll
*.so
*.dylib

# Editor settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# JetBrains IDE
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/mongoSettings.xml
.idea/**/sonarlint/
.idea/**/sonarIssues.xml
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator-enh.xml
.idea/**/markdown-navigator/
.idea/httpRequests
.idea/caches/build_file_checksums.ser

# Misc
.DS_Store
.github/
.env
